<div class="header">

  <div class="container">
    <div class="header-inner header-md-height">
      <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="horizontal-menu">
      </a>
      <div class="">

        <div class="header-inner justify-content-start header-lg-height title-bar">
          <div class="brand inline align-self-end">
            <img  src="../assets/img/logo-video-camera.png" alt="logo" data-src="./assets/img/logo-video-camera.png"
                  data-src-retina="./assets/img/logo-video-camera.png" width="32" height="32">
          </div>
          <h2 class="page-title align-self-end">
            Movies
          </h2>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="pull-right sm-m-r-5">
          <input type="image" id="image" data-toggle="modal" data-target="#myModal2" [routerLink]="['/login']" alt="Login"
                 src="../assets/img/login.png"/>
        </div>
      </div>


    </div>

    <div class="menu-bar header-sm-height" data-pages-init="horizontal-menu" data-hide-extra-li="4">
      
      <ul>
        <li class=" active">
          <a  routerLink="/" >Home</a>
        </li>
        <li>
          <a   [routerLink]="['/userMovieList']" > MY Movies List</a>
        </li>
        <li>
          <a  [routerLink]="['/MyProfile']"> My Profile</a>
        </li>
        <li>
          <a  [routerLink]="['/About']"> About</a>
        </li>

      </ul>

    </div>
  </div>
</div>
<router-outlet></router-outlet>



<div class=" container   container-fixed-lg footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">Copyright &copy; 2018 </span>
      <span class="hint-text">All rights reserved. </span>
      <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> <span class="muted">|</span> <a href="#"
                                                                                                                class="m-l-10">Privacy Policy</a></span>
    </p>


  </div>
</div>
